
@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

#root{
  /* background-color: #DDDCE4; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: url('./assets/mobileBack.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}

@media only screen and (min-width: 1024px) {
  #root{
    background-image: url('./assets/desktopBack.jpg');

  }

} 

/* FONTS */

.navBar div h1{
  font-family: 'Nunito', sans-serif;
}

.mainBanner div p{
  font-family: 'Nunito', sans-serif;
}

.mainBanner div h1{
  font-family: 'Nunito', sans-serif;
}

.productsOrder form label{
  font-family: 'Nunito', sans-serif;
}

.contactPage div h1{
  font-family: 'Nunito', sans-serif;
}

/* CUSTOM TABLE STYLES */

/* STACK TABLE ON SMALL SCREENS */

@media only screen and (max-width: 768px) {
  .mainTable td{
    display:block;
  }

}

.mainTable td:first-child{
  border-bottom-left-radius: 4px;
}

.mainTable td:last-child{
  border-bottom-right-radius: 4px;
}



/* FOOTER */

footer{
  background-image: url('./assets/dekstopFooter.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  border-top: 1px solid rgb(0,0,0,0.75);
}

footer h1{
  font-family: 'Nunito', sans-serif;
}

/* NAVIGATION */


.navBar div a:hover{

  border-bottom:1px solid #9c91e4;

}


/* FORM */


@media only screen and (min-width: 1024px) {
  
  .productsOrder form {
    background-image: url('./assets/bbSil.png');
    background-repeat: no-repeat;
    background-position: center;
  }

}


/* DELETE BUTTON */ 
.viewButton:hover{
  cursor: pointer; 
  background: rgb(255, 255, 255, 0.7);
  transition: 0.8s ease-out;
}


/* CONTACT PAGE ICON ANIMATION */ 

.contactPage div div a img{
  transition: 0.3s ease-out;
}

.contactPage div div a img:hover{
  transform: translateY(-50%);
  opacity: 70%;
}


/* MAIN PAGE SEC */ 

.mainLogo:hover{
  transition: transform 0.6s ease-out;
}

.mainLogo:hover{
  transform: scale(1.1);
}

.planSection{
  transition: transform 0.2s ease-out;
}

.planSection:hover{
  opacity: 80%;
  transform: translateY(-20%);
}
